* {
  cursor: none !important;
} 

/* Swal Styling  */
.swal2-confirm {
  background: linear-gradient(-45deg, rgb(41, 17, 30), #b30059, indigo) !important;
}

body {
    overflow-x: hidden !important;
}
.con_err_msg, .sign_err_msg {
  color: red;
  font-size: 14px;
  height: 15px;
}
/*preloader 2*/
.publicPreloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    background: url("../images/rippleloader.gif") center no-repeat #0d0d0d;
    background-size: 100px 100px;
}
.publicPreloader main {
  position: absolute;
  top: 50%;
  left: 50%;
}
.preloader_text {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
  margin-top: 40px;
  margin-left: -70px;
  margin-right: -70px;
  text-transform: uppercase;
  color: #f58731;
  font-weight: bold;
  z-index: 9999;
}

.rotate {
  animation: rotation 0.7s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.preloader_bg {
  width: 100%;
  height: 100%;
  z-index: 999;
  position: absolute;
  background: black;
  opacity: 0.4;
  display: none;
}
.fadeInContinue {
  animation: fadeIn 1s infinite linear;
}
.bounceOutContinue {
  animation: bounceOut 1s infinite linear;
}
.cornfuse_preloader {
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  position: absolute;
  z-index: 9999;
  margin-left: -30px;
  margin-top: -10px;
  top: 50%;
  left: 50%;
}
.cornfuse_preloader img {
  width: 100%;
  height: 100%;
}

.cornfuse_cursor {
  width: 5vh;
  height: 5vh;
  border: 1px solid lime;
  border-radius: 50%;
  position: absolute;
  z-index: 999999999;
  top: 0;
  left: 0;
  -webkit-animation: blink 3s infinite;
  -moz-animation:    blink 3s infinite;
  -ms-animation:     blink 3s infinite;
  pointer-events: none;
  display: none;
}
.cornfuse_cursor img {
  width: 100%;
  height: 100%;
}
@-webkit-keyframes blink {
        0%   { border-color:lime; }
        50%  { border-color:hotpink;}
        100% { border-color:indigo; }
}
@-moz-keyframes blink {
         0%   { border-color:lime; }
        50%  { border-color:hotpink;}
        100% { border-color:indigo; }
}
@-ms-keyframes blink {
         0%   { border-color:lime; }
        50%  { border-color:hotpink;}
        100% { border-color:indigo; }
}

.scroller {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  cursor: pointer !important;
}

.scroller::-webkit-scrollbar {
  width: 4px;
}
.scroller .cornfuse_cursor {
  display: none;
}
.scroller::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: none;
}

.scroller::-webkit-scrollbar-thumb {
  color: black;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #343a40;
}
.list-animation-duration {
  animation-duration:0.1s;
}
.color-white {
  color: white;
}
.btn-lime{
  background-color: lime;
  color: white;
}
.btn-lime:hover{
  background-color: inherit;
  color: lime;
  border: 1px solid lime;
}
.btn-transparent{
  background-color: inherit;
  color: white;
}
.general-btn-bg {
  background: linear-gradient(-45deg, #29111e, #b30059, indigo);
  color: white;
  border:none;
  transition: 1s all ease;
  border-radius: 25px;
}
.general-btn-bg:hover {
  color: lime;
  transform: scale(1.003);
}
.our-nav {
  background: rgba(0, 0, 0, 0.5);
  height: 9vh;
}
.our-nav a {
  color: white;
}
.border-black{
  border: 1px solid black;
}
.border-right-black{
  border-right: 1px solid black;
}
.border-bottom-black{
  border-bottom: 1px solid black;
}
.single-line-input-form input{
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0px;
}
.single-line-input-form input:-webkit-autofill,
.single-line-input-form input:-webkit-autofill:hover, 
.single-line-input-form input:-webkit-autofill:focus, 
.single-line-input-form input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* Card animation */
.cards {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* .cards:hover .flip-card-inner {
  transform: rotateY(180deg);
} */

.flip-card-inner_transform {
  transform: rotateY(180deg);
}

.card-bg,
.card-value {
  position: absolute;
  width: 100%;
  height: 100%;
}

.card-bg {}

.card-value {
  transform: rotateY(180deg);
}

.cornfuse-logo-style {
  width: 30%;
}

.cornfuse-logo-style div:nth-child(1) {
  height: 50px;
  width: 100px;
  position: absolute;
  top: -15px;
  left: 50px;
}

.cornfuse-logo-style img {
  width: 100%;
  transform: scale(2)
    /* height: 60%; */
}

.play_game {
  position: absolute;
  left: 50%;
  color: white;
  background: url('../images/GIFs/playbtn.gif') center no-repeat;
  background-size: 200% 200%;
  padding: 0px;
  margin-left: -100px;
  border-radius: 50px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
  font-family: 'Ma Shan Zheng', cursive;
  cursor: pointer;
  border:10px solid rgba(0, 0, 0, 0.3)

}

.play_game span {
  color: lightgrey;
  transition: transform 0.6s;
  text-shadow: 1px 1px 1px black;
  letter-spacing: 0.3em;
  display: inline-block;
}

.play_game:hover span:nth-child(1) {
  transform: translateY(-2px) rotate(5deg) scale(1.2);
  color: lime;
}

.play_game:hover span:nth-child(2) {
  transform: translateY(2px) rotate(-5deg) scale(1.2);
  color: lime;
  order: -1;
}

#navbarSupportedContent {
  width: 70%;
}

#navbarSupportedContent ul {
  width: 95%;
  margin: 0 auto;
  text-align: right;
  display: block;
}

#navbarSupportedContent ul li {
  display: inline-block !important;
}

#navbarSupportedContent a {
  font-size: 22px;
  margin-top: 10px;
}

.cornfuse-menu-bar {
  width: 68%;
  height: 68%;
  cursor: pointer;
}

.menu-btn {
  padding: 0;
}

.menu-btn:focus {
  outline: none;
}
.masking1 {
    position: relative;
    width: 60px;
    height: 12px;
    overflow: hidden;
    transition: 1s all ease;
    border-bottom-left-radius: 50%;
}
.masking1 .up {
    position: absolute;
    top: -5px;
    left: 0;
    width: 60px;
    height: 15px;
    color: white;
}
.masking2 {
    position: relative;
    width: 60px;
    height: 12px;
    overflow: hidden;
    transition: 1s all ease;
    
}
.masking2 .down {
    position: absolute;
    bottom: 13px;
    left: 0;
    width: 60px;
    height:15px;
    color: white;
}
.familia:hover .masking1 {
  transform: translateX(-2px);
}
.familia:hover .masking2 {
  transform: translateX(2px);
}
.familia:hover::before {
  content: '';
  display: block;
  background: lime;
  position: absolute;
  height: 2px;
  width: 65px;
  top: 45%;
  transform: translateY(4px) translateX(6px);
  margin: auto;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
}
.contact:hover::before {
  width: 80px;
  transform: translateY(4px) translateX(6px) !important;
}
.masking:hover .alive {
 
  transform: translateX(-2px);
}
.masking:hover .mirage {
  
  transform: translateX(2px);
  transform-style: preserve-3d;
}


.game-text-family {
    font-family: 'Cabin Sketch',
        cursive;
}


@media(max-width:991px) {
  #navbarSupportedContent {
    position: absolute;
    background: linear-gradient(-45deg, #29111e, #b30059, indigo), rgba(0,0,0,0.5);;
    z-index: 99;
    padding: 0;
    width: 100%;
    top: 50px;
    left: 0;
  }
  .familia:hover::before {
    top: 45%;
    transform: translateY(4px) translateX(-2px);
  }

  #navbarSupportedContent ul {
    text-align: left;
  }

  #navbarSupportedContent ul li {
    display: inline-block !important;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  .play_game {
    margin-left: -50px;
  }
}
/* slick */
.slider {
  width: 100%;
  margin: 0 auto;
}

.slick-slide {
margin: 0px 5px;
}

.slick-slide img {
width: 100%;
}

.slick-prev:before,
.slick-next:before {
color: black;
}


.slick-slide {
transition: all ease-in-out .3s;
opacity: .2;
}

.slick-active {
opacity: .5;
}

.slick-current {
opacity: 1;
}