body {
	overflow: hidden;
}
.game-background{
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)), url("../images/Game-Backgrounds/game-1-bg.png");
	background-size: cover;
	background-position: center;
	animation: fadeIn 2s linear forwards;
}
.slider-area{
	margin-top: 25vh;
	opacity: 1 !important;
}
.games{
	min-height: 50vh;
}
.games-visible{
	height: 35vh;
	background-color: white;
	border-radius: 10px;
}
.game-image{
	height:25vh;
}
.game-image img{
	border-radius: 10px 10px 0px 0px;
	height: 100%;
	width: 100%
}
.game-name span{
	font-size: 20px;
	font-weight: 700;
	font-family: 'Titillium Web', sans-serif;
}
/* .slick-current .games{
	transform: scale(1.3);
} */
.slick-current .games-visible{
	transform: scale(1.3);
}

@keyframes fadeIn {
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
.showcase_wel_preloader {
  display: block;
  background: none;
}
.showcase_wel_preloader .cornfuse_preloader {
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
}